@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Raleway:wght@300&family=Tilt+Prism&display=swap');

* {
  font-family: 'Raleway', sans-serif;


}


body
{
  background-color: white;
  
}

.signupForm {
  /* background-color: green; */
  margin: auto; 
  display: block; 
}

h2 {
  /* background-color: red; */
  padding: 30px 0;
  color: white;
}

 

input,
select,
button {
  display: block; 
  width: 100%;
  border-color: transparent;
  background-color: rgb(73, 90, 245);
  caret-color: white;
  color: white;
  text-align: center;
  font-size: 1rem;
  height: 40px;
  border-radius: 8px; 
}

::placeholder
{
  color: white;
}

button{
  background-color: green;
  margin: 50px;
}


.containerlog {
  display: block;
  margin: auto;
  background-color: rgba(0, 0, 255, 0.218);

  text-align: center;
  height: auto;
  width: 50vh;
  border-radius: 8px;
  padding: 30px;

}


.login:hover
{
  cursor: pointer;
}



.signupForm h4
{
  font-size: 1rem;
  padding:5%;
  color: white;
}

.mainContainer
{
  /* style={{display:'flex', justifyContent:'center', alignItems:'center', backgroundColor:'red'}} */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}